.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cellContainer{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(210, 210, 241);
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#winnerModalButton{
    display: none;
}

@media screen and (max-width: 950px){
    .cellContainer { 
        grid-template-rows: repeat(3, 25vw);
        grid-template-columns: repeat(3, 25vw);
    }
    .box{
        font-size: 15vw;
    }
}
